.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.price {
  display: flex;
  align-items: center;
  margin: 8px;
}

.name {
  height: 48px;
  overflow: hidden;
}