.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: var(--main-padding);
  background-color: #131316;
}

.title {
  display: flex;
  flex-direction: column;
  width: calc(var(--main-panel-width)*2 + var(--main-padding));
}

.content {
  display: flex;
  overflow: auto;
  column-gap: var(--main-padding);
  width: calc(var(--main-panel-width)*2 + var(--main-padding));
  height: 100%;
}