@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/jetbrainsmono/JetBrainsMono-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/jetbrainsmono/JetBrainsMono-Light.ttf") format("ttf");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/jetbrainsmono/JetBrainsMono-LightItalic.ttf") format("ttf");
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/iceland/Iceland-Regular.ttf") format("ttf");
}

:root {
  --main-panel-width: 600px;
  --main-padding: 40px;
  --color-dark-grey: #8585ad;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'JetBrains Mono', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text {
  color: #f2f2f3;
}