.section {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  width: var(--main-panel-width);
  composes: scroll from '/src/index.css';
}

.section > div {
  width: 100%;
}

.section > :first-child {
  margin-top: 0;
}